html{
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	align-items: center;
	/* background: linear-gradient(#eb9292, #f8ff78, #6363c9); */
	background: #232323;
	display: flex;
	font-family: 'Dosis', 'san-serif';
	font-display: swap;
	height: inherit;
	justify-content: center;
}


.dd{
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	background: rgba (255, 255, 255, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
	color: #232323;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	background: rgba(255, 255, 255, 0.30);
	border: 1px solid rgba(255, 255, 255, 0.34);
	flex-basis: 400px;
	height: 540px;
	padding: 20px 35px;
}

.screen{
	backdrop-filter: blur (5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	background: rgba(255, 255, 255, 0.75);
	border: 1px solid;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
	color: #232323;
	font-size: 35px;
	overflow: auto;
	padding: 20px;
	text-align: right;
	width: 362px;
}

.but-row{
	display: flex;
	justify-content: space-between;
	margin: 5% 0;
}

.but{
	backdrop-filter: blur (5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	background: rgba(255, 255, 255, 0.75);
	border: 0.5px solid rgba(255, 255, 255, 0.01);
	border-radius: 100px;
	box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
	color: #232323;
	flex-basis: 20%;
	font-family: inherit;
	font-size: 24px;
	height: 65px;
}

.but:last-child{
	backdrop-filter: blur (5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	background: rgba(255, 255, 255, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.01);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
	color: #232323;
	background: #ff7878;
}

.but:last-child:hover{
	background-color: inherit;
	color: inherit;
}

.but:hover{
	background-color: inherit;
}

.but:active{
	background-color: #78ffcb;
}

.double{
	flex-basis: 47%;
}

.triple{
	flex-basis: 73%;
}